import /vendor/etc/init/hw/init.rpi4.usb.rc

on init
    symlink /sdcard /storage/sdcard0

on fs
    mount_all /vendor/etc/fstab.rpi4

on property:sys.audio_streaming=1
    exec u:r:shell:s0 -- /system/bin/sh /vendor/bin/a2b.sh
